<!DOCTYPE html>
<html lang="en">
<head>
    <title>Six Sigma Simulator</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div id="selection">
        <form id="select_bot" hx-get="/select" hx-target="#selected" hx-on::before-request="document.getElementById('bot').innerHTML = ''">
            <label for="Nurse">Nurse</label>
            <input class="radio-group" type="radio" id="Nurse" name="selection" value="Nurse">
            <label for="Doctor">Doctor</label>
            <input class="radio-group" type="radio" id="Doctor" name="selection" value="Doctor">
            <label for="Quality Assurance">Quality Assurance</label>
            <input class="radio-group" type="radio" id="Quality Assurance" name="selection" value="Quality Assurance">
            <label for="Maintenance Engineer">Maintenance Engineer</label>
            <input class="radio-group" type="radio" id="Maintenance Engineer" name="selection" value="Maintenance Engineer">
            <label for="Custodian">Custodian</label>
            <input class="radio-group" type="radio" id="Custodian" name="selection" value="Custodian">
            <input class='left_button' type="submit" id="select_submit" hx-target="#bot" value="Select" onclick="showTime();resetTimer()">
        </form>
        <div id="header" class="center">
        <p>Currently selected:</p>
        <p class="selected" id="selected"></p></div>
        <input class='left_button' type="button" id="start_button" value="Start" hidden hx-target="#time_left" onclick="startTimer()">
        <input class='left_button' type="button" id="stop_button" value="Stop" hidden onclick="stopTimer()">
        <p class="selected" id="time_element" hidden>Time:</p>
        <div id="time_left" hidden>
        </div>
    </div>
    <div id="main-content">
    <div id="chat" class="center">
      <p id="bot"></p>
      <p id="loading">Loading...</p>
    </div>
    <div class="center" id="form-container">                                                                                                                             
        <form id="user" hx-post="/send" hx-swap="beforeend" hx-target="#bot" hx-on::before-request="this.reset()" hx-indicator="#loading">                                                                             
            <textarea id="query" 
                name="query" 
                hx-trigger="keyup[key=='Enter'&&!shiftKey]" 
                hx-on:keydown="if(event.key === 'Enter' && !event.shiftKey) { event.preventDefault(); htmx.trigger(this.form, 'submit'); }"></textarea>                                                        
            <input type="submit" id="chat_submit">                                                                                        
        </form>   
    <div id="finish">
        <form hx-target="#selected" hx-on::before-request="document.getElementById('selected').innerHTML = ''"> 
            <input type="button" id="finish_btn" value="End Session" hx-get="/finish"
            hx-target="#bot" onclick="resetTimer()">
        </form>
    </div>
    </div>
</div>
<script> 
let duration;
let timerInterval;

function showTime() {
    startButton = document.getElementById('start_button');
    stopButton = document.getElementById('stop_button');
    timeElement = document.getElementById('time_element');
    timeLeft = document.getElementById('time_left');
    startButton.hidden = false;
    stopButton.hidden = false;
    timeElement.hidden = false;
    timeLeft.hidden = false;
}

function updateDisplay(duration) {
    const mins = Math.floor(duration / 60);
    const secs = duration % 60;
    timeLeft.textContent = `${mins.toString().padStart(2, '0')}:${secs.toString().padStart(2, '0')}`;
}

function startTimer() {
    timerInterval = setInterval(() => {
        if (duration > 0) {
            duration--;
            updateDisplay(duration);
        } else {
            stopTimer();
            timeLeft.textContent = "Conversation Over";
            htmx.ajax('POST', '/timer-finished', {
                swap: 'none'  
            });
        }
    }, 1000);
}

function stopTimer() {
    clearInterval(timerInterval);
    timerInterval = null;
}

function resetTimer() {
    duration = 60 * 5;
    updateDisplay(duration);
    stopTimer();
}
</script>
</body>
</html>
